html{
  scroll-behavior: smooth;
}

body {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overflow-y: scroll;
  height: 100%;
  background-color: rgb(166, 166, 166);
}

//Styling p's
p {
  margin: 0;
  padding: 0;
  font-family: "Roboto", serif;
  font-weight: 600;
  text-align: center;
}

//Making the flex display basics
.flexDisplay {
  display: flex;
  justify-content: center;
  align-items: center;

  &.column {
    flex-direction: column;
  }

  //Defining different sized gaps
  &.noGap {
    gap: 0px;
  }
  &.smallGap {
    gap: 5px;
  }
  &.gap {
    gap: 10px;
  }
  &.largeGap {
    gap: 20px;
  }
  &.heightGap{
    gap: 4vh;
  }
}

//Styling buttons on the website
button{
    border: none;
    border-radius: 25px;
    background-color: rgb(225, 225, 225);
    cursor: pointer;
    padding: 10px;

    &.welcomeButton{
        width: 30%;
        padding: 20px;
    }
}

//Styling the forms on the website
form{
  padding: 2vh;
  width: 80vw;
  margin-left: 10vw;

  input{
    width: 100%;
    padding: 10px;
    margin-bottom: 2vh;
  }

  textArea{
    width: 100%;
    max-width: 80vw;
    min-width: 80vw;
    min-height: 10vh;
    padding: 10px;
    margin-bottom: 2vh;
  }

  button{
    width: 60%;
  }
}

//Ensuring flexItems take up all the space they can
.flexItems {
  width: 100%;
  height: 100%;
  flex: 1 1;
}

//Class used to hide elements when they are not active
.notActive{display:none;}

//Implemented the needed media queries
@media screen and (min-width : 1400px) {
  .verticalNavigator{display: none}

  //Styling the font styles
  p{
    //Classes to determine the font size and weight of fonts
    &.regular{font-size: 20px;font-weight: 500;}
    &.boldRegular{font-size: 20px;}
    &.smallSubheading{font-size: 24px;}
    &.subheading{font-size: 28px;}
    &.mediumSubheading{font-size: 36px;}
    &.bigSubheading{font-size: 44px;}
    &.heading{font-size: 60px;}
    &.title{font-size: 68px;}
  }

  //Styling the inputs font size
  input{font-size: 32px;}
  textarea{font-size: 24px;}
  ::placeholder{font-size: 32px;}
}

@media screen and (min-width : 1080px) and (max-width : 1400px) {
  .verticalNavigator{display: none}

  //Styling the font styles
  p{
    //Classes to determine the font size and weight of fonts
    &.regular{font-size: 18px;font-weight: 500;}
    &.boldRegular{font-size: 18px;}
    &.smallSubheading{font-size: 24px;}
    &.subheading{font-size: 26px;}
    &.mediumSubheading{font-size: 32px;}
    &.bigSubheading{font-size: 38px;}
    &.heading{font-size: 56px;}
    &.title{font-size: 64px;}
  }

  //Styling the inputs font size
  input{font-size: 30px;}
  textarea{font-size: 22px;}
  ::placeholder{font-size: 30px;}
}

@media screen and (min-width: 800px) and (max-width : 1080px) {
  .verticalNavigator{display: none}
  .contactRow{flex-direction: column;}

  //Styling the font styles
  p{
    //Classes to determine the font size and weight of fonts
    &.regular{font-size: 12px;font-weight: 500;}
    &.boldRegular{font-size: 12px;}
    &.smallSubheading{font-size: 16px;}
    &.subheading{font-size: 20px;}
    &.mediumSubheading{font-size: 28px;}
    &.bigSubheading{font-size: 32px;}
    &.heading{font-size: 46px;}
    &.title{font-size: 56px;}
  }
  
  //Styling the inputs font size
  input{font-size: 28px;}
  textarea{font-size: 20px;}
  ::placeholder{font-size: 28px;}
}

@media screen and (min-width:560px) and (max-width : 800px) {
  .horizontalNavigator{display: none}
  .contactRow{flex-direction: column;}

  //Styling the font styles
  p{
    //Classes to determine the font size and weight of fonts
    &.regular{font-size: 10px;font-weight: 500;}
    &.boldRegular{font-size: 10px;}
    &.smallSubheading{font-size: 14px;}
    &.subheading{font-size: 18px;}
    &.mediumSubheading{font-size: 24px;}
    &.bigSubheading{font-size: 28px;}
    &.heading{font-size: 40px;}
    &.title{font-size: 50px;}
  }

  //Styling the inputs font size
  input{font-size: 26px;}
  textarea{font-size: 18px;}
  ::placeholder{font-size: 26px;}
}

@media screen and (max-width:560px){
  .horizontalNavigator{display: none}
  .contactRow{flex-direction: column;}

  //Styling the font styles
  p{
    //Classes to determine the font size and weight of fonts
    &.regular{font-size: 10px;font-weight: 500;}
    &.boldRegular{font-size: 10px;}
    &.smallSubheading{font-size: 14px;}
    &.subheading{font-size: 18px;}
    &.mediumSubheading{font-size: 22px;}
    &.bigSubheading{font-size: 26px;}
    &.heading{font-size: 36px;}
    &.title{font-size: 46px;}
  }

  //Styling the inputs font size
  input{font-size: 24px;}
  textarea{font-size: 16px;}
  ::placeholder{font-size: 24px;}
}

//Creating some styling for the background of areas
//This is to change up the colors of the website, so they aren't always the same
.odd{background-color: rgb(58, 58, 58); color:white;}
.even{background-color: rgb(166, 166, 166);}

//Styling the header for the website
.TopBanner {
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  height: 5vh;
  background-color: rgb(30, 30, 30);
  padding: 10px;
  z-index: 100;
}

//Styling the navigator for the website
.Navigator {
  position: relative;
  top: 7vh;
  left: 0;
  z-index: 90;
  
  .navItem{
      padding: 10px;
      cursor: pointer;
      background-color: rgb(160, 160, 160);
      border-radius: 0px 0px 20px 20px;
      transition: all 1s;

    &.active {
      background-color: rgb(255, 255, 255);
    }

    &:hover {
      background-color: rgb(201, 201, 201);
    }
  }

  #menuSpan{text-align: center; font-size: 4vh; padding: 6px;}
}

//Styling the home page
.Home{
    .welcome{
        margin-top: 5vh;

        .backgroundImg{
            position: relative;
            top: 0;
            left: 0;
            opacity: 0.6;

            img{
                object-fit: cover;
                width: 100vw;
                height: 75vh;
            }
        }

        .welcomeContent{
            position: absolute;
            top: 5vh;
            left: 0;
            z-index: 2;
            height: 80vh;

            p{
                width: 80%;

                &.ignoreWidth{width:100%;}
            }
        }
    }

    .WhatIsUs{
      margin: -1%;
      padding: 2%;
      padding-bottom: 6vh;

      .mainText{width:90%; text-align: left;}
      i{color: rgb(238, 234, 30); cursor: pointer;}
    }

    .customerReviews{
      padding: 2%;
      .bigSubheading{width:80%;}
      a{color: blue;cursor: pointer;}
      i{color:rgb(238, 234, 30);}
    }
}

//Styling the services page of the website
.services{
  .ourServicesSimple{
    padding-top: 8vh;
    padding-bottom: 2vh;
    i{color: rgb(238, 234, 30); cursor: pointer;}
    a{text-decoration: none; color: rgb(0, 251, 255); cursor: pointer;}
    .bigSubheading{width: 90%;margin-left: 5%;padding: 2%;}
  }

  .ourServicesDetails{
    padding-top: 2vh;
    padding-bottom: 2vh;

    .service{
      padding: 2vh;
      .heading{padding-bottom: 2vh;}
      .mediumSubheading{width: 50vw; margin-left: 5vw;}
      
      .details{
        width: 90%; margin-left: 5%;
        img{height:40vh;width:30vw; border-radius: 25px; object-fit: cover;}
      }
    }
  }
}

//Styling the reviews page of the website
.reviews{
  .mainBody{
    padding-top: 8vh;

    .headerText{width: 80vw; margin-left: 10vw;}
  }
}

//Styling the Contact Page of the website
.contact{
  .contactUs{
    padding-top: 8vh;

    .mainText{width:90%;}

    .contactInfo{
      .contactRow{
        justify-content: space-between;
        text-align-last: left;
        width: 80%;
        margin-left: 5%;
      }
    }

    button{
      margin-bottom: 4vh;
      width: 40%;
      transition: all 1s;
      img{height:6vh;border-radius: 50%;object-fit: cover;}
      &:hover{transform: translateY(-2vh);}
    }

    .map{height:60vh;width:80vw;}
  }

}

.smallContactForm{
  padding: 1%;

  form{
    margin-left:0;
  }

  .bigSubheading{max-width:80vw;}
}

//Styling the reviews badge
.reviewsBadgeArea{
  width: 100vw;
  padding: 10px;

  .reviewsBadge{
    margin: 2vh;
    min-width: 40vw;
    min-height: 10vh;
    padding: 10px;
    background-color: white;
    border: none;
    border-radius: 25px;

    .reviewsBadgeBottom{
      padding: 5px;
      img{height:3vw;}
      a{text-decoration: none; color: blue;}
    }
  }
}

//Creating the contact button, to open the contact menu
.contactButton{
  position: fixed;
  bottom: 2vh;
  right: 1vw;
  height: 5vw;
  width: 5vw;
  border-radius: 50%;
  background-color: white;
  cursor: pointer;
  transition: 1s;
  z-index: 100;

  &.notActive{display: none;}
  &:hover{transform: translateY(-2vh);}
  span{font-size: 3vw; font-weight: 700;}
}

.contactForm{
  z-index: 100;
  height: 100%;
  min-height: 100vh;
  width: 100vw;
  background: linear-gradient(90deg, rgb(120, 120, 120) 0%, rgb(168, 168, 168) 50%, rgb(222, 222, 222) 100%);
  animation: animateUpwards 1s;

  &.removeContactForm{
    animation: animateDownwards 1s;
  }

  .contactFormHeader{
    padding: 10px;
    height: 10vh;

    .closeButton{
      display: flex;
      justify-content: end;

      span{
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        margin-right: 4vw;
        padding: 20px;
        background-color: red;
        border-radius: 50%;
        font-size: 4vw;
      }
    }
  }

  .contactFormMessage{
    width: 90vw;
    margin-left: 5vw;
  }
}

@keyframes animateUpwards {
  from{transform: translateY(200vh);}
  to{transform: translateY(0);}
}

@keyframes animateDownwards {
  from{transform: translateY(0);}
  to{transform: translateY(200vh); display: none;}
}
